# Compiled class files
*.class

# Log files
*.log

# Temporary files
*.tmp

# Compilação e arquivos IDE (exemplo: Eclipse, IntelliJ)
*.war
*.ear
/.idea/
/*.iml
/.classpath
/.project
/.settings/

# Diretório de build
/build/
/target/